<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
        <title>New Book</title>
</head>

<body>
        <h1>Add a new book to your club's library!</h1>
        <%- include('../partials/_navbar.ejs') %>
                <form action="/books" method="POST">
                        <label for="book-title">Book Title:</label>
                        <input type="text" name="title" id="book-title" required>
                        <br>
                        <br>
                        <label for="author">Author:</label>
                        <input type="text" name="author" id="author" required>
                        <br>
                        <br>
                        <label for="summary">Summary:</label>
                        <input type="text" name="summary" id="summary" />
                        <br>
                        <br>
                        <label for="discussionDate">Discussion Date:</label>
                        <input type="date" name="discussionDate" required>
                        <br>                        
                        <br>
                        <button type="submit">Add Book</button>
                </form>
</body>

</html>