<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <div class ="watermarked-image">
  <h1>Welcome to the Book Club Library</h1>
  <img src="assets/BCL-Logo.png" alt="Book Club Library Logo" class="logo">
  <div class="intro-container">
  <p>The Book Club Library is a shared digital space for your book club to keep track of the books you've read together.</p>
  <br>
  <p>Admins can add new books, manage club reading history, and keep your list up to date. Members can view book summaries, discussion dates, and stay connected with their club's reading journey. Whether you're reading one book a month or powering through an entire series, this app keeps your club organized and inspired.</p>
</div>
</div>
</body>
</html>