<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <!-- <div class ="signed-in-background-image"> -->
    <div class ="external-background-image">

  <% if (user) { %>
    <h2>
      <%= user.club ? user.club.clubName : 'your' %> 
      Book Club Dashboard
    </h2>
<div class="member-info">
  <p><b>User: </b><%= user.username %></p>
    <p><b> Role: </b> <%= user.role %></p>
    <% if (!user.club) { %>
      <p>You’re not in a club yet.</p>
    <% } %>
  </div>
  <div class="manage-cards"</div>
    <% if (user.role === 'admin') { %>
      <p><a href="/books"><img src="/assets/manage.png" alt="Manage Books" class="books-index-link"></a></p>
      <p><a href="/books/new"><img src="/assets/add.png" alt="Add Book" class="add-book"></a></p>
      <p><a href="/users"><img src="/assets/connect.png" alt="Connect with Members" class="users"></a></p>
    <% } else { %>
      <p><a href="/users"><img src="/assets/connect.png" alt="Connect with Members"></a><a class="users"></a></p>    <% } %>
  <% } %>
</body>
</html>