<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>

  <% if (user) { %>
    <h2>
      <%= user.club ? user.club.clubName : 'your' %> 
      Book Club Dashboard
    </h2>
<div class="member-info">
  <p><b>User: </b><%= user.username %></p>
    <p><b> Role: </b> <%= user.role %></p>
    <% if (user.club) { %>
    <% } else { %>
      <p>You’re not in a club yet.</p>
    <% } %>
  </div>
    <% if (user.role === 'admin') { %>
      <p><a class="books-index-link" href="/books">Manage Club's Books</a></p>
      <p><a class="add-book" href="/books/new">Add Book</a></p>
      <p><a href="/users">Connect with club's members!</a></p>
    <% } else { %>
      <p><a href="/users">Connect with club's members!</a></p>
    <% } %>
  <% } %>
</body>
</html>