<%- include('../partials/_navbar.ejs') %>
  <link rel="stylesheet" href="/styles.css" />
  <div class="external-background-image">
    <h1>Community</h1>
    <div class="user-card-container">
      <% users.forEach(user=> { %>
        <div class="user-card">
          <a href="/users/<%= user._id %>">
            <%= user.username %>
          </a>
        </div>
        <% }) %>
    </div>
  </div>